@import url('./components/hero.css') layer(hero);
@import url('./components/navbar.css') layer(navbar);

.project {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.project a {
  color: inherit;
}

.project a:hover {
  text-decoration: underline;
}

.project-logo {
    width: clamp(100px, 40vw, 400px);
}

/* Box Styles */
.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--clr-neutral-a0);
}

.box span {
  color: white;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.box i {
    color: var(--clr-primary-a0);
    font-size: 3rem;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.line {
  width: 100%; /* Makes the box fill the container's width */
  height: 1rem; /* Makes the box fill the container's height */
  border-radius: 100px;
  background-color: var(--clr-primary-a0);
}



.profile {
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    width: clamp(100px, 40vw, 400px);
    height: auto;
    display: block;
    margin: 1rem auto;
    aspect-ratio: 1 / 1;
}

.about-box{
    color: var(--clr-neutral-a10);
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 3rem;
}
.button{
  background-color: var(--clr-primary-a0);
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;
  font-weight: 600;
  font-size: 1rem;
  font-family: inherit;

}
.button:hover{
  background-color: var(--clr-primary-a10);
}

.button:active{
  background-color: var(--clr-primary-a20);
}

.disabled{
  background-color: var(--clr-neutral-a20);
  cursor: not-allowed;
}

.disabled:hover{
  background-color: var(--clr-neutral-a20);
}